@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;500;700&display=swap');
html{
    font-size: 16px;
}
*{
    margin: 0;
    /*color: #333333;*/
    color: white;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}
body{
     
    background: linear-gradient(90deg, rgb(255, 212, 212) 0%, rgb(210, 255, 209) 100%);
    background-attachment: fixed;
}

main{
    position: relative;
    width: 100%;
    transition: filter ease 500ms;
    filter: blur(0);
}

main.show * {
    filter: blur(10px);
}


li{
    width: 60%;
    font-size: 1.5rem;
}


aside:not(.show){
    z-index: 10;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #0b6e4f8f;
    bottom: 0;
    opacity: 100%;
    width: 100%;
    height: 100%;
    border-radius: 0;
    filter: opacity(100);
    transition: filter 1s ease, transform 500ms ease, border-radius 100ms ease;
}
aside.show{
    z-index: 10;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #0b6e4f8f;
    border-radius: 100px;
    bottom: 0;
    opacity: 100%;
    width: 100%;
    height: 100%;
    filter: opacity(0);
    transform: scale(0);
    transition: filter 1s ease, transform 300ms ease, border-radius 300ms ease;
}

@keyframes h1animation{
    0%,100%{
        transform: translateY(-5px) rotateX(40deg)  translate(-50%,-50%);
    }
    50%{
        transform: translateY(10px) translate(-50%,-50%);
    }
}
aside > h1{
    display: block;
    cursor: default;
    color: #ddb771;
    position: fixed;
    width: 100%;
    text-align: center;
    left: 50%;
    top: 50%;
    
    font-size: 4rem;

    animation-name: h1animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    filter: drop-shadow(0px 6px 2px #b96f00ba);
}


#kreis > li{
    width: fit-content;
    height: fit-content;
}
#kreis > li  a{
    position: absolute;
    font-size: 2rem;
    color: #ddb771;
    filter: drop-shadow(0px 6px 2px #b96f00ba);
}
#kreis > li  img{
    z-index: 0;
    object-fit: cover;
    display: inline-block;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    filter: opacity(1);
    border-radius: 50px;
    transition: filter 900ms ease, transform 300ms ease;
    border: 0;
    width: 1000px;
    height: 500px;
}
#kreis > li > a:hover{
    filter: drop-shadow(0px 6px 2px #b96f00ba) saturate(2);
}

#kreis > li > a:hover + img{
    filter: opacity(1) drop-shadow(2px 8px 5px #0000004d);
    transform: translate(-50%, -50%) scale(0.4);
    z-index: 10000;
}

button{
    z-index: 11;
    position: absolute;
    right: 50px;
    top: 50px;

    background: none;
    border: none;
    cursor: pointer;
    filter: drop-shadow(4px 5px 4px #031800a4);
    transition: transform ease 500ms;
}
button:hover{
    transform: scale(1.2);
}
h2{
    width: fit-content;
    position: relative;
    margin: 50px 0 50px 10px;
}
p{
    width: 60%;
    margin-inline: auto;
    font-size: 1.4rem;
}
ul{
    list-style: none;
    padding: 0;
}

li{
    width: fit-content;
}

li>*,h2 {
    filter: drop-shadow(4px 5px 4px #000000);
}

/*Animation der Links*/
li > a, li > p{
    box-sizing: border-box;
    text-decoration: none;
    font-size: 1.4rem;
    transition: color 250ms ease-out;
}

li > a:hover, li > p:hover{
    color: #a9ffb4;
    cursor: pointer;
}

*::selection{
    color: rgb(250, 30, 103);
    background: rgb(146, 243, 238);
}

main > h2{
    margin-inline: auto;
}
main > ul{
    margin-top: 50px;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-inline: auto;
    color: rgb(250, 30, 103);
}

main > input{
    display: block;
    margin-inline: auto;
    transition: transform 800ms ease filter 800ms ease;
    border-style: solid;
    border-width: 2px;
    border-radius: 6px;
    border-color: #93d3ad;
    background-color: #74fcaa;
    color: rgb(250, 30, 103);
    outline: none;
    transform: scale(1.7);
    filter: opacity(0.8);
}
main > input::placeholder{
    color: rgb(250, 30, 103);
}
.item.active{
    width: 0;
    opacity: 0;
}